
Pytorch/CIFAR-10 datasets layout explanation.pdf
Pytorch/CIFAR-10 datasets layout explanation.pdf
Pytorch/CIFAR-10 datasets layout explanation.pdf
Pytorch/cifar-10-data/cifar-10-batches-py/batches.meta
Pytorch/CIFAR-10 datasets layout explanation.pdf
Pytorch/leona.jpg
Pytorch/cifar-10-data/cifar-10-python.tar.gz
Pytorch/cifar-10-data/cifar-10-python.tar.gz
*.jpg
