
Pytorch/CIFAR-10 datasets layout explanation.pdf
Pytorch/CIFAR-10 datasets layout explanation.pdf
Pytorch/CIFAR-10 datasets layout explanation.pdf
Pytorch/cifar-10-data/cifar-10-batches-py/batches.meta
Pytorch/CIFAR-10 datasets layout explanation.pdf
Pytorch/leona.jpg
Pytorch/cifar-10-data/cifar-10-python.tar.gz
Pytorch/cifar-10-data/cifar-10-python.tar.gz
*.jpg
Pytorch/cifar-10-data/cifar-10-batches-py/data_batch_1
Pytorch/cifar-10-data/cifar-10-batches-py/data_batch_2
Pytorch/cifar-10-data/cifar-10-batches-py/data_batch_3
Pytorch/cifar-10-data/cifar-10-batches-py/data_batch_4
Pytorch/cifar-10-data/cifar-10-batches-py/data_batch_5
Pytorch/cifar-10-data/cifar-10-batches-py/readme.html
Pytorch/cifar-10-data/cifar-10-batches-py/test_batch
